SERVER_PORT=8089
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/admin-service
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
